.ui.menu {
    .item {
        &.notify {
            > .menu {
                min-width: 240px;
                margin-top: 5px;
            }
            .ui.label.floating {
                position: absolute;
                margin: -6px 0px 0px -19px !important;
                padding: 4px;
                text-align: center;
                width: 20px;
                height: 20px;
            }
        }
        &.content {
            padding-top: 4px;
            .setting {
    	       width: 39px;
    	       margin: 0px;
    		}
    		.fullname {
    			font-size: 1.1em
    		}
    		.position {
    			font-size: 0.8em
    		}
    	}
    	&:before {
        width: 0px;
    		background: transparent;
    	}
    }
}
.ui {
    &.dropdown {
        .menu {
            > .header {
                margin: 0.7rem 0rem 0.75rem;
                color: rgba(255, 255, 255, 1);
                font-size: 0.85em;
            }
        }
        &.pointing {
            > .menu {
                &:after {
                    background: #171D2C !important;
                }
            }
        }
    }
}

div.ui.menu.navigator {
    min-height: 37px;
    font-family: "open_sansregular", "Segoe UI" !important;
    font-size: 16px;
    border-radius: 0px;
    box-shadow: none;
    background-color: #08326c;
    border: #4a77a1 solid 1px;
    margin-bottom: 1px;
}
div.ui.menu .item.user:before {
    width:0px;
}
div.ui.menu.navigator a.item, div.ui.menu.navigator a.item:hover {
    height: 35px;
    padding: 0px 30px !important;
    color: #FFF;
}
div.ui.menu.navigator a.item.selected {
    background-color: #2b71a5;
    border-radius: 0px;
    box-shadow: none;
}
i.icon.repository {
    background-image: url('/icon/repos-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}
i.icon.nippon {
    background-image: url('/icon/ns-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}
a.link {
    font-weight:bold;
    font-size:13px;
    cursor:pointer;
}

h2.ui.header {
    margin: 1em 0em !important;
}

.item.profile, .item.user, .item.setting, .item.repository, .item.home, .item.nippon, .item.sign, .item.signin, .item.notify { padding: 5px 3px 0px 3px !important }
.item.profile div.content, .item.signin div.content { padding: 7px 35px 7px 5px !important; }

.item.profile {
    background-size: contain;
    padding-top: 6px !important;
    margin-left: 8px !important;
    border-bottom: none !important;
}

.item.profile.online {
    background-color: #ECECEC;
    border-left: #2A920E solid 3px;
}

.ui.access.grid * { color:#FFFFFF; }

.ui.access.grid .ui.item.dropdown .menu {
    border-radius: 0px;
    border:none;
    background-color: #171d2c;
}
/*.ui.access.grid .ui.item.dropdown > .menu > .item.signout > i, .ui.access.grid .ui.item.dropdown > .menu > .item.signout {
    color:#db2828 !important;
    font-weight: bold !important;
}*/
.ui.panel.main.container > .ui.dimmer {
    background-color: rgba(236,236,236,0.75);
}
i.user-image {
    border-radius: 30px;
    background-position: 0px 0px; 
    background-repeat: no-repeat; 
    background-size: cover; 
    margin-left: 10px;
    width:32px; 
    height: 32px;
}
div.ui.floating.label{
    top: 4px;
    left: calc(100% - 7px);
    padding: 5px 4px 4px 3px;
    border-radius: 30px;
    width: 22px;
    height: 22px;
    font-weight: bold;
    z-index: 1;
    font-size: 10px;
}
.ui.access.grid .ui.item.dropdown > .menu {
    min-width: 170px;
}
.ui.access.grid .ui.item.dropdown > .menu > .item {
    color:#FFFFFF !important;
}
.ui.access.grid .ui.dropdown .menu>.divider { 
    border-top: 1px solid rgba(187, 187, 187, 0.57);
    margin:0px;
}
.ui.access.grid .ui.item i { margin: 0px 8px; }
.ui.access.grid .ui.item { 
    border-bottom: transparent solid 5px;
}
.ui.access.grid .ui.item:not(.content):hover {
    background-color: #2d67a0;
}
.ui.access.grid .ui.item.content {
    padding: 5px 3px 0px 3px !important;
    margin-left: 30px;
    text-align: right;
}
.ui.access.grid .ui.item.user:hover { 
    background-color: transparent;
}
.ui.access.grid .ui.item.selected { 
    border-bottom: rgb(45, 103, 160) solid 5px;
}
.ui.access.grid .ui.item.selected:hover { 
    background-color: transparent;
}
.ui.access.grid .ui.dropdown:has(.menu > .item.selected) {
    border-bottom:rgb(45, 103, 160) solid 5px;
}
.ui.access.grid .ui.item.selected { 
    color: #171D2C; 
}