<template name="error">
	<div class="ui basic modal feature-exception">
	  <div class="header"></div>
	  <div class="image content">
	    <div class="image">
	      <i class="bug icon"></i>
	    </div>
	    <div class="description">
	      <p></p>
	    </div>
	  </div>
	  <div class="actions">
	    <div class="ui inverted buttons">
	      <div class="ui red basic inverted button refresh-exception">
	        <i class="refresh icon"></i>
	        Reload
	      </div>
	    </div>
	  </div>
	</div>
</template>