<template name="app">
  <div class="main">
    <div class="header">
      <div class="ui prepare inverted dimmer active">
        <div class="ui text loader">Loading...</div>
      </div>
      <div class="ui attached menu top">
        <div class="header">
          <div class="logo-pgm">
            {{> Template.dynamic template=modal }}
          </div>
        </div>
        <div class="ui access grid" style="display:flex;margin-left:auto!important;padding-right:20px;">
          {{> Template.dynamic template=navigator }}
        </div>
      </div>
    </div>
    <div class="ui content">
      <div class="pusher"></div>
      <div class="ui panel board" style="display:none;">
        {{> Template.dynamic template=board }}
      </div>
      <div class="ui panel main container" style="display:none;">
        <div class="ui panel html">
          {{> Template.dynamic template=main}}
        </div>
      </div>
      <div class="ui panel sign-in" style="display:none;">
        <div class="ui stackable grid " style="margin:0px;">
          <div class="ui computer only seven wide column login-image"></div>
          <div class="ui nine wide column centered grid">
            {{> Template.dynamic template=sign}}
          </div>
        </div>
      </div>
    </div>
    {{> Template.dynamic template=error}}
    <div class="footer">
      <i class="icon copyright"></i>{{translate 'copyright'}} <strong>{{translate 'author'}}</strong>
    </div>
  </div>
</template>