<template name="app">
  <div class="main">
    <div class="header">
      <div class="ui prepare dimmer active">
        <div class="ui large text loader">Loading</div>
      </div>
      <div class="ui attached menu top">
        <div class="header">
          <div class="pgm-logo">
            {{> Template.dynamic template=modal }}
          </div>
        </div>
        <div class="ui access grid" style="display:flex;margin-left:auto!important;">
          {{> Template.dynamic template=navigator }}
        </div>
      </div>
    </div>
    <div class="ui content">
      {{> Template.dynamic template=board }}
      <div class="ui panel main container" style="display:none;">
        <div class="ui panel html">
          {{> Template.dynamic template=main}}
        </div>
      </div>
      <div class="ui panel sign-in" style="display:none;">
        <div class="ui grid " style="margin:0px;">
          <div class="ui six wide column login-image" style="background-image: url('/images/login.jpg'); background-position: 0px 0px; background-repeat: no-repeat; background-size: cover; background-position: left center;"></div>
          <!-- <canvas id="login-image" class="column login-image"></canvas> -->
          <div class="ui ten wide column centered grid">
            {{> Template.dynamic template=sign}}
          </div>
        </div>
      </div>
    </div>
    {{> Template.dynamic template=error}}
    <div class="footer">
      <i class="icon copyright"></i>Touno-K.com Copyright. Designed by <strong>Mr.Kananek Thongkam</strong>
    </div>
  </div>
</template>