<div class="ui stackable column grid">
  <div class="column navigator text right">
  	<h3>Management Account</h3>
  </div>
</div>
<div class="ui menu navigator">
  <a class="item active">Dashboard</a>
  <a class="item">Repositories</a>
</div>
<div class="ui stackable two column padded grid main-dashboard">
  <div class="column module">
  	<h5>Repositories</h5>
  	<div class="content">
  		sadsd
  	</div>
  </div>
  <div class="column module">
  	<h5>Account</h5>
  	<div class="content">
  		sadsd
  	</div>
  </div>
  <div class="column module">
  	<h5>Stats</h5>
  	<div class="content">
  		sadsd
  	</div>
  </div>
  <div class="column module">
  	<h5>Stats</h5>
  	<div class="content">
  		sadsd
  	</div>
  </div>
</div>
<!--   <div class="row">
  	<div class="column module">
	  	<h5>Repositories</h5>
	  	<div class="content">
	  		sadsd
	  	</div>
  	</div>
  </div> -->