<div class="ui stackable column grid">
  <div class="column navigator text right">
  	<h3>Management Account</h3>
  </div>
</div>
<div class="ui menu navigator">
  <a class="item active">Dashboard</a>
  <a class="item">Stats Monthly</a>
</div>

