<script type="text/javascript">
	
</script>
<div class="ui stackable column grid">
  <div class="column navigator text right">
  	<h3></h3>
  </div>
</div>
<div class="ui navigator menu"></div>
<div>
	<div class="ui dimmer component inverted"><div class="ui text loader"></div></div>
	<div class="ui stackable two column padded grid main-component">
	</div>
</div>