<template name="signForgot">
  <h2>Trouble Signing In?</h2>
  <form class="ui large form sign-in">
    <div class="username field">
      <div class="ui fluid left icon input">
        <i class="mail icon"></i>
        <input type="text" id="email" name="email" placeholder="E-mail or Username">
      </div>
    </div>
    <div class="ui buttons column" style="width:100%">
      <div class="ui forgot-back button large" style="max-width:83px;">Back</div>
      <div class="or forgot-or"></div>
      <div class="ui positive forgot-in large submit button">Send Request</div>
    </div>
  </form>
</template>