
<template name="signTroubleshoot">
	<div class="column trouble background">
    <div class="ui grid" style="margin-bottom: 10px;">
	  	<h2>Trouble Signing In?</h2>
    </div>
		<ul>    							
			<li class="trouble-menu forgot">								
				<div class="title">I forgot my password</div>
				<div class="subtitle">Change your password.</div>
			</li>
			<li class="trouble-menu register">								
				<div class="title">I do not have an account</div>
				<div class="subtitle">Create a new account.</div>
			</li>
			<li class="trouble-menu back" style="margin-top:20px;">								
				<div class="title">Already have a account?</div>
				<div class="subtitle">Back.</div>
			</li>
		</ul>
	</div>
</template>