body {
    padding: 0px;
    font-family: "Segoe UI", Tahoma !important;
    font-size: 12px;
    background-color: #F7F7F7;
    overflow: hidden !important;
    overflow-y: visible !important;
}

div.main { min-height: 100%; position: relative; z-index: 0; }
div.header {  }
div.content { padding-bottom: 50px; }
div.footer { 
    color: #5c5c5c; 
    font-size: 11px; 
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    height: 50px;
    background-color:#ececec;
    padding: 6px 15px; }

div.ui.menu {
    background-color: #171d2c;
    border:none !important;
}
div.ui.input input {
    border-radius: 0px !important;
    padding: .4em 1em !important;
}
div.ui.input {
    background-color: #171d2c !important;
}
@media only screen and (max-width: 767px){
    canvas.login-image{
        display: none !important;
    }
}