.sign.trouble {
	background-color: #ececec;
}
.column.background {
  max-width: 600px !important;
}
.trouble.background {
	margin-top:80px;
	background-color: #f7f7f7;
  padding: 2rem 1rem 2rem 1rem !important;
}
.trouble > ul {
	padding: 0px;
}
.trouble > ul > li {
	background: #ececec;
	list-style: none outside none;
	padding: 10px 20px;
	margin: 5px 0 0 0;
	cursor: pointer;
}
.trouble-menu > .title {
	color: #4d4d4d;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.trouble-menu > .subtitle {
  color: #B8B8B8;
  font-weight: normal !important;
  margin-top: 3px;
  cursor: pointer;
}

.trouble-menu:hover {
	background: #DEF;
}

div.or.sign-or::before{
    top:57% !important;
    line-height: 1.785714em !important;
}
div.ui.panel.sign-in div.ui.basic.prompt.label {
    position: absolute;
    z-index: 1;
    right: 0px;
    margin-top: -70px; 
}



.column.step {
	background-color: #d6d7d8;
	padding: 3px !important;
}
.column.step.active {
	background-color: #255f8c;
}
.ui.grid.step-text {
	text-align: center;
}

.ui.grid.step-text .column {
	color: #9A9A9A;
	padding-bottom: 5px;
}
.ui.grid.step-text .column.active {
	color: #333;
	padding-bottom: 5px;
}

.ui.grid.step-pregress {
	margin-bottom:20px;
	margin-left: 0rem !important;
  margin-right: 0rem !important;
}
