<template name="RepositoryCollection">
	<div class="three wide column collection">
		<div class="ui vertical menu">
			{{#if UsernameCount}}
				<h5 class="ui dividing header">owner<a class="anchor" id="states"></a></h5>
			{{/if}}
		  {{#each UsernameItems}}
			  <a class="item" data-item="{{collection_name}}">
			    {{collection_name}}
			    <div class="ui label">{{list}}</div>
					<div class="ui button"></div>
			  </a>
		  {{/each}}
			{{#if CollectionCount}}
				<h5 class="ui dividing header">collection<a class="anchor" id="states"></a></h5>
			{{/if}}
		  {{#each CollectionItems}}
			  <a class="item" data-item="{{collection_name}}">
			    {{collection_name}}
			    <div class="ui label">{{list}}</div>
					<div class="ui button"></div>
			  </a>
		  {{/each}}
		</div>
	</div>
	{{> RepositoryList }}
</template>	