<template name="MenuUser">
  <div class="computer tablet only row user-menu">
    <a class="ui item home">
      <i class="git square icon big"></i>
    </a>
    <a class="ui item nippon">
      <i class="nippon icon big"></i>
    </a>
    <a class="ui item setting">
      <i class="setting icon big"></i>
    </a>
    <div class="ui dropdown icon item profile">
      <a class="ui item user">
        <i class="user-image icon big"></i>
      </a>
      <div class="content">
        <div class="ui fullname sub header">Unknow</div>
        <div class="ui position">(None)</div>
      </div>
      <div class="menu">
        <div class="item profile">
          <i class="user icon"></i>
          Profiles
        </div>
        <div class="divider"></div>
        <div class="item signout">
          <i class="sign out icon"></i>
          Sign out
        </div>
      </div>
    </div>
  </div>
</template>