<template name="Navigator">
  <div class="computer tablet only row user-menu">
    {{#if isLogin}}
      <a class="ui item home">
        <i class="home icon big"></i>
      </a>
      <a class="ui item repository">
        <i class="repository icon big"></i>
      </a>
      <a class="ui item nippon">
        <i class="nippon icon big"></i>
      </a>
      <div class="ui dropdown item profile" style="padding-top: 6px !important;">
        <a class="ui item user" style="width: 50px;">
          <i class="alarm outline icon big"></i>
        </a>
        <div class="content">
          <div class="ui fullname sub header">{{getFullname}}</div>
          <div class="ui position">({{getPosition}})</div>
        </div>
        <div class="menu">
          <div class="item profile">
            <i class="user icon"></i>
            Profiles
          </div>
          <div class="divider"></div>
          <div class="item signout">
            <i class="sign out icon"></i>
            Sign out
          </div>
        </div>
      </div>
    {{else}}
      <div class="ui item signin" style="padding-top: 6px !important;cursor:pointer;">
        <a class="ui item sign">
          <i class="sign in icon big"></i>
        </a>
        <div class="content">
          <div class="ui fullname sub header">Sign-In</div>
          <div class="ui position">Who are you?</div>
        </div>
      </div>
    {{/if}}
  </div>  
  <div class="ui small signout modal">
    <div class="header">
      PGM-Management
    </div>
    <div class="content">
      <p>Are you sure you want to sign-out your account</p>
    </div>
    <div class="actions">
      <div class="ui ok button">
        Cancel
      </div>
      <div class="ui negative right labeled icon button">
        Signout
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>
</template>