 <template name="RepositoryCreate">
	<div class="sixteen wide column">
		<div class="ui stackable one column grid component">
		  <div class="column">
		  	<h5>Create a new repository</h5>
		  	<div class="content">
					<form class="ui form repository_new">
						<div class="ui grid">
							<div class="sixteen wide column right aligned">
								<button class="ui button cancel">Cancel</button>
								<button class="ui primary button save" style="width: 180px;">Save</button>
							</div>
						</div>
					  <div class="ui section divider"></div>
						<div class="ui grid">
							<div class="ten wide column">
	  						<div class="fields">
						      <div class="six wide field">
							    	<label>Collection</label>
										<div class="ui fluid search selection collection dropdown">
										  <input type="hidden" name="repository[collection]" maxlength="50">
										  <i class="dropdown icon"></i>
										  <div class="text">dvgamer</div>
										  <div class="menu">
											  <div class="item" data-value="af">Afghanistan</div>
											</div>
										</div>
						      </div>
						      <div class="ten wide repository field">
							    	<label>Repository</label>
					        	<input id="repository" type="text" name="repository[name]" placeholder="Repository name" maxlength="150">
						      </div>
						    </div>
							  <div class="field">
							    <label>Title</label>
					        <input type="text" name="repository[title]" placeholder="Optional">
							  </div>
							  <div class="field">
							    <label>Description</label>
							    <textarea name="repository[description]" placeholder="Optional" rows="2"></textarea>
							  </div>
							  <div class="ui section divider"></div>
							  <div class="grouped type fields">
							    <label>How often do you use checkboxes?</label>
							    <div class="fields">
      							<div class="one wide field">
								      <div class="ui radio checkbox">
								        <input type="radio" id="team" name="repository[type]" checked="checked">
								        <label></label>
								      </div>
							      </div>
							      <label class="fourteen wide field" for="team">
											<h4 class="ui header">
											  <i class="users icon"></i>
											  <div class="content">
											    Team
											    <div class="sub header">Some people can see this repository</div>
											  </div>
											</h4>
							      </label>
							    </div>
							    <div class="fields">
      							<div class="one wide field">
								      <div class="ui radio checkbox">
								        <input type="radio" id="private" name="repository[type]">
								        <label></label>
								      </div>
							      </div>
							      <label class="fourteen wide field" for="private">
											<h4 class="ui header">
											  <i class="lock icon"></i>
											  <div class="content">
											    Private
											    <div class="sub header">You choose who can see and commit to this repository.</div>
											  </div>
											</h4>
							      </label>
							    </div>
								  <div class="ui horizontal divider">Or</div>
							    <div class="fields">
	    							<div class="one wide field">
								      <div class="ui radio checkbox">
								        <input type="radio" id="anonymous" name="repository[type]">
								        <label></label>
								      </div>
							      </div>
							      <label class="fourteen wide field" for="anonymous">
											<h4 class="ui header">
											  <i class="world icon"></i>
											  <div class="content">
											    Anonymous
											    <div class="sub header">Anyone can see this repository.</div>
											  </div>
											</h4>
							      </label>
							    </div>
						    </div>
							</div>
							<div class="six wide column">
							  <div class="field">
							    <label>Administartor</label>
					        <input type="text" name="repository[admin]" placeholder="Optional">
							  </div>
							  <div class="field">
							    <label>Contributions</label>
							    <textarea name="repository[contribution]" placeholder="Optional" rows="2"></textarea>
							  </div>
							</div>
						</div>
					</form>	
		  	</div>
		  </div>
		</div>
	</div>

</template>	