<template name="Repository">
<div class="ui stackable two column grid component">
	<div class="eleven wide column">
		<h5>Repository</h5>
		<div class="content">
			<form class="ui form">
				<div class="fields">
					deBugger‬ -- Management Source Control Web Project http://pgm.ns.co.th/ — 
				</div>
			  <div class="ui section divider"></div>
<table class="ui single line striped table">
  <thead>
    <tr><th colspan="3">
      Git Repository
    </th>
  </tr></thead>
  <tbody>
    <tr>
      <td class="collapsing">
        <a href=""><i class="folder icon"></i> node_modules</a>
      </td>
      <td>Initial commit</td>
      <td class="right aligned collapsing">10 hours ago</td>
    </tr>
    <tr>
      <td>
        <a href=""><i class="folder icon"></i> test</a>
      </td>
      <td>Initial commit</td>
      <td class="right aligned">10 hours ago</td>
    </tr>
    <tr>
      <td>
        <a href=""><i class="folder icon"></i> build</a>
      </td>
      <td>Initial commit</td>
      <td class="right aligned">10 hours ago</td>
    </tr>
    <tr>
      <td>
        <a href=""><i class="file outline icon"></i> package.json</a>
      </td>
      <td>Initial commit</td>
      <td class="right aligned">10 hours ago</td>
    </tr>
    <tr>
      <td>
        <a href=""><i class="file outline icon"></i> Gruntfile.js</a>
      </td>
      <td>Initial commit</td>
      <td class="right aligned">10 hours ago</td>
    </tr>
  </tbody>
</table>
			</form>
		</div>
	</div>
	<div class="five wide column">
		<h5>Repository</h5>
		<div class="content">
			<div class="ui stackable two column grid">
				<div class="column">
					<div class="ui fluid label">
					  <i class="history icon"></i>
					  <span class="text">258</span>
					  <a class="detail">commits</a>
					</div>
				</div>
				<div class="column">
					<div class="ui fluid label">
					  <i class="users icon"></i>
					  <span class="text">1</span>
					  <a class="detail">contributor</a>
					</div>	
				</div>
			</div>
			<div class="ui grid">
				<div class="sixteen wide column" style="padding-top:0px;">
					<div class="ui fluid small action input">
					  <input type="text" readonly value="http://ww.short.url/c0opq">
            <button class="ui icon button">
              <i class="copy icon"></i>
            </button>
            <button class="ui icon button">
              <i class="download icon"></i>
            </button>
					</div>
				</div>
			</div>
		 

        <h4 class="ui dividing header">History logs</h4>




<div class="ui feed">
  <div class="event">
    <div class="label">
      <img src="//www.gravatar.com/avatar/?d=mm">
    </div>
    <div class="content">
      <div class="date">
        1 Hour Ago
      </div>
      <div class="summary">
        <a class="user">
          Elliot Fu
        </a> added you as a friend
      </div>
    </div>
  </div>
  <div class="event">
    <div class="label">
      <img src="//www.gravatar.com/avatar/?d=mm">
    </div>
    <div class="content">
      <div class="date">
        4 days ago
      </div>
      <div class="summary">
        <a>Helen Troy</a> added <a>2 new illustrations</a>
      </div>
      <div class="extra images">
        <a><img src="//www.gravatar.com/avatar/?d=mm"></a>
        <a><img src="//www.gravatar.com/avatar/?d=mm"></a>
      </div>
    </div>
  </div>
  <div class="event">
    <div class="label">
      <img src="//www.gravatar.com/avatar/?d=mm">
    </div>
    <div class="content">
      <div class="date">
        2 Days Ago
      </div>
      <div class="summary">
        <a class="user">
          Jenny Hess
        </a> added you as a friend
      </div>
    </div>
  </div>
  <div class="event">
    <div class="label">
      <img src="//www.gravatar.com/avatar/?d=mm">
    </div>
    <div class="content">
      <div class="date">
        3 days ago
      </div>
      <div class="summary">
        <a>Joe Henderson</a> posted on his page
      </div>
      <div class="extra text">
        Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
      </div>    </div>
  </div>
  <div class="event">
    <div class="label">
      <img src="//www.gravatar.com/avatar/?d=mm">
    </div>
    <div class="content">
      <div class="date">
        4 days ago
      </div>
      <div class="summary">
        <a>Justen Kitsune</a> added <a>2 new photos</a> of you
      </div>
      <div class="extra images">
        <a><img src="//www.gravatar.com/avatar/?d=mm"></a>
        <a><img src="//www.gravatar.com/avatar/?d=mm"></a>
      </div>
    </div>
  </div>
</div>





		</div>
	</div>
</div>
<div class="ui stackable one column grid component">
  <div class="column">
  	<h5>README.md</h5>
  	<div class="content">
      Help people interested in this repository understand your project by adding a README.
  	</div>
  </div>
</div>
</template>