<template name="Repository">
<div class="ui stackable two column grid component repository-detail">
	<div class="eleven wide column">
		<h5>Repository</h5>
		<div class="content">
			<form class="ui form">
				<div class="fields">
					deBugger‬ -- Management Source Control Web Project http://pgm.ns.co.th/ — 
				</div>
			  <div class="ui section divider"></div>
        <table class="ui single line striped list-tree table">
          <thead>
            <tr>
              <th colspan="3">
                <div class="ui floating labeled icon branch dropdown button">
                  <i class="dropdown icon"></i>
                  <span class="text">master</span>
                  <div class="menu">
                    <div class="item">1</div>
                    <div class="item">2</div>
                    <div class="item">3</div>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="collapsing">
                <a href=""><i class="folder icon"></i> node_modules</a>
              </td>
              <td>Initial commit</td>
              <td class="right aligned collapsing">10 hours ago</td>
            </tr>
            <tr>
              <td>
                <a href=""><i class="folder icon"></i> test</a>
              </td>
              <td>Initial commit</td>
              <td class="right aligned">10 hours ago</td>
            </tr>
            <tr>
              <td>
                <a href=""><i class="folder icon"></i> build</a>
              </td>
              <td>Initial commit</td>
              <td class="right aligned">10 hours ago</td>
            </tr>
            <tr>
              <td>
                <a href=""><i class="file outline icon"></i> package.json</a>
              </td>
              <td>Initial commit</td>
              <td class="right aligned">10 hours ago</td>
            </tr>
            <tr>
              <td>
                <a href=""><i class="file outline icon"></i> Gruntfile.js</a>
              </td>
              <td>Initial commit</td>
              <td class="right aligned">10 hours ago</td>
            </tr>
          </tbody>
        </table>
			</form>
		</div>
	</div>
	<div class="five wide column">
		<h5>Repository</h5>
		<div class="content">
      <h4 class="ui dividing header">{{RepositoryName}}</h4>
      <div class="ui stackable two column grid">
        <div class="column">
          <div class="ui fluid label">
            <i class="history icon"></i>
            <span class="text">
              {{#if isReady}}
                {{Summary.commits}}
              {{else}}
                0
              {{/if}}
            </span>
            <a class="detail">commits</a>
          </div>
        </div>
        <div class="column">
          <div class="ui fluid label">
            <i class="users icon"></i>
            <span class="text">
              {{#if isReady}}
                {{Summary.contributor}}
              {{else}}
                0
              {{/if}}
            </span>
            <a class="detail">contributor</a>
          </div>  
        </div>
      </div>
      <div class="ui grid">
        <div class="sixteen wide column" style="padding-top:0px;">
          <div class="ui fluid small action input clipboard">
            <input id="git" type="text" readonly value="{{DomainName}}">
            <button class="ui icon button copy" data-clipboard-target="#git">
              <i class="copy icon"></i>
            </button>
            <button class="ui icon button download">
              <i class="download icon"></i>
            </button>
          </div>
        </div>
      </div>
      <h4 class="ui dividing header">History logs</h4>
        <div class="ui feed history">
          {{#if isLogsEmpty}}
            <div class="event empty">
              <span>History log is empty.</span>
            </div>
          {{else}}
            {{#each HistoryLogs}}
              <div class="event">
                  <div class="label">
                    <img src="{{Avatar email}}">
                  </div>
                {{#if logs}}
                  <div class="content">
                    <div class="date">
                      {{OnDate since}} ago
                    </div>
                    <div class="summary">
                      <a class="user">{{author}}</a> {{Subject subject comment}}
                    </div>
                    {{#if isTrue comment}}
                      <div class="extra text">{{comment}}</div>
                    {{/if}}
                  </div>
                {{else}}
                  <div class="content">

                  </div>
                {{/if}}
              </div>
            {{/each}}
            {{#if HistoryMore}}
              <div class="event more">
                <div class="content">
                  <a>Load more...</a>
                </div>
              </div>
            {{/if}}

          {{/if}}
        </div>
		</div>
	</div>
</div>
<div class="ui stackable one column grid component">
  <div class="column">
  	<h5>README.md</h5>
  	<div class="content">
      Help people interested in this repository understand your project by adding a README.
  	</div>
  </div>
</div>
</template>