<template name="Repository">
<div class="ui stackable two column grid component">
	<div class="column">
		<h5>Account</h5>
		<div class="content">
			sadsd
		</div>
	</div>
	<div class="column">
		<h5>Stats</h5>
		<div class="content">
	  asdasd
		</div>
	</div>
</div>
<div class="ui stackable one column grid component">
  <div class="column">
  	<h5>README.md</h5>
  	<div class="content">
        Help people interested in this repository understand your project by adding a README.
  	</div>
  </div>
</div>
</template>