<template name="Forgot">
  <div class="column background">
    <div class="ui grid" style="margin-top: 80px;">
      <h2>Forgot password? {{step}}</h2>
    </div>
    <div class="ui equal width grid step-text">
      <div class="column active">Verify E-mail Address</div>
      <div class="column">Verify Identity</div>
      <div class="column">Create New Password</div>
    </div>
    <div class="ui equal width grid step-pregress">
      <div class="column step active"></div>
      <div class="column step"></div>
      <div class="column step"></div>
    </div>
    <form class="ui large form forgot-in" style="width:100%;">
      <div style="padding-bottom: 10px;">Please enter the information requested to change your password.</div>
      <div class="username field">
        <div class="ui fluid left icon input">
          <i class="mail icon"></i>
          <input type="text" id="email" name="email" placeholder="E-mail or Username">
        </div>
      </div>
      <div class="ui buttons column" style="width:100%">
        <div class="ui forgot-back button large" style="max-width:83px;">Back</div>
        <div class="or sign-or"></div>
        <div class="ui positive forgot-in large submit button">Send Request</div>
      </div>
    </form>
  </div>
</template>