<template name="SignIn">
  <div class="column" style="max-width:350px;">
    <h2 class="ui header">{{translate 'signin'}}</h2>
    <form class="ui large form sign-in">
      <div class="ui column">
        <div class="ui sign-image centered grid" style="position:relative; display:none;">
          <div class="column" style="text-align:center;">
            <div class="ui circular image sign-avartar"  style="background-size:cover;width:128px;height:128px;"></div>
            <h3 class="ui sign-email" style="margin-top: 5px;"></h3>
          </div>
        </div>
        <div class="ui sign-id" style="position:relative;">
          <h4>{{translate 'signid'}}</h4>
          <div class="username field">
            <div class="ui fluid left icon input">
              <i class="user icon"></i>
              <input type="text" id="email" name="email" placeholder="{{translate 'email'}}">
            </div>
          </div>
          <div class="remember field">
            <div class="ui checkbox remember-id">
              <input type="checkbox" id="remember-id" name="remember-id">
              <label>{{translate 'remember'}}</label>
            </div>
          </div>
        </div>
      </div>
      <h4>{{translate 'password'}}</h4>
      <div class="password field">
        <div class="ui fluid left icon input">
          <i class="lock icon"></i>
          <input type="password" id="password" name="password" placeholder="{{translate 'password'}}">
        </div>
      </div>
      <div class="ui buttons column" style="width:100%">
        <div class="ui sign-back button large" style="max-width:83px;">{{translate 'back'}}</div>
        <div class="or sign-or"></div>
        <div class="ui positive sign-in large submit button">{{translate 'login'}}</div>
      </div>
      <div class="ui column" style="padding-top:10px;">
        <b>{{translate 'or'}} </b><a class="link" id="sign-trouble">{{translate 'trouble'}}</a>
      </div>
    </form>
  </div>
</template>