<div class="row" style="padding:10px">
<% ITEM.forEach(function(row) { %>
	<h2 class="ui header">
	  <div class="content"><%= row.project_name %></div>
	</h2>
	<div class="ui relaxed divided list repository">
    
	  <div class="item" style="padding:8px">
	    <i class="large github middle aligned icon"></i>
	    <div class="content">
	      <a class="header"><%= row.name %></a>
	      <div class="description"><%= row.description %></div>
	    </div>
	  </div>

	</div>
<% }); %>
</div>