body {
    padding: 0px;
    background-color: #ececec;
    overflow: hidden !important;
    overflow-y: visible !important;
}

div.main { min-height: 100%; position: relative; z-index: 0; }
div.header {  }
div.footer { 
    color: #5c5c5c; 
    font-size: 11px; 
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    height: 35px;
    background-color:#ececec;
    padding: 10px 15px; 
}
div.pgm-logo {
    background-image: url('/images/pgm.management.png'); 
    background-position: 0px 0px; 
    background-repeat: no-repeat; 
    background-size: cover; 
    width:200px; 
    height: 39px; 
    margin: 8px 10px;
}

div.login-image {
    background-image: url('/images/login.jpg'); 
    background-position: 0px 0px; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: left center;
}

div.ui.menu.attached.top {
    background-color: #171d2c;
    border:none !important;
}
div.ui.main.container {
    padding-top: 40px;

}
div.ui.input input {
    border-radius: 0px !important;
    padding: .4em 1em !important;
}
div.ui.input {
    background-color: #171d2c !important;
}




.navigator.text {
    text-align:right;
    color:#2c71a5;
    padding-bottom: 3px !important;
}
.ui.grid.main-component > .row {
    padding: 0px;
    margin: 0px;
}
.ui.grid.main-component > .row > .column.module {
    width: 100%;
}
.ui.grid.main-component .column.module {
    background-color: #F7F7F7;
    padding: 0px;
}
.ui.grid.main-component .column.module > h5 {
    background-color: #171D2C;
    padding: 10px;
    color: #FFFFFF;
}
.ui.grid.main-component {

}

.ui.repository.grid {
    margin:0px 0px 0px 0px;
}
.ui.repository.grid > .wide.column {
    padding:0px;
    padding-bottom: 35px;
}
.ui.repository.grid .ui.vertical.menu {
    width: 100%;
    border-radius: 0px;
    border:none;
    background-color: transparent;
}

.ui.repository.grid .ui.vertical.menu .item {
    border-radius: 0px;
    color: #FFF;
    font-weight: bold;
}

.ui.repository.grid .ui.vertical.menu > .item.selected {
    background-color: #27608d;
}
.ui.repository.grid .ui.vertical.menu > .item > .label {
    background-color: #27608d;
    color: #FFF;
}
.ui.repository.grid .ui.vertical.menu > .item.selected > .label {
    background-color: #cedde6;
    color: #27608d;
}

.ui.dimmer.component {
    top: 103px !important;
    height: calc(100% - 103px);
}
.ui.list.repository .content > .header {
    font-size: 1.2em !important;
}

.ui.list.repository .content > .description {
    font-size: 0.88em !important;
    line-height: 1.6em !important;
}
.ui.list.repository > .item:hover {
    cursor: pointer;
    background-color: #ececec; 
}